
.logo {
    z-index: 3;
    margin: auto;
}
.whitestripe {
    z-index: 1;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 0px;
}
.circle {
    border-radius: 50%;
    border: 7px solid white;
    text-align: center;
    height: 140px;
    width: 140px;
    margin: 1em 0em;
    padding: 0px;
}
@media (min-width: 576px){
  .circle-holder {
      width: 80%;
      margin: auto;
  }
}
@media (max-width: 574px){
    .circle-holder {
        width: 79%;
        margin: auto;
    }
}




.smcircle-red {
    border-radius: 50%;
    text-align: center;
    border: 1px solid #e6563b;;
    height: 17px;
    width: 17px;
    line-height: 1em;
    font-size: 14px;
}
.smcircle-yellow {
    border-radius: 50%;
    text-align: center;
    border: 1px solid rgb(230,157,45);
    height: 17px;
    width: 17px;
    line-height: 1em;
    font-size: 14px;
}
.smcircle-green {
    border-radius: 50%;
    text-align: center;
    border: 1px solid #7Cb06c;
    height: 17px;
    width: 17px;
    line-height: 1em;
    font-size: 14px;
}
.smcircle-blue {
    border-radius: 50%;
    text-align: center;
    border: 1px solid #00ABA9;
    height: 17px;
    width: 17px;
    line-height: 1em;
    font-size: 14px;
}
.cards {
    width: 400px;
    margin: auto;
}
.red {background-color: #e6563b;}
.yellow {background-color: rgb(230,157,45);}
.green {background-color: #7Cb06c;}
.blue {background-color: #00ABA9;}

.iconw {
    color: #f0f0f0;
    line-height: 130px;
    font-size: 32px;
    font-family: Anton;
}
body, .bkg {
background-color: #f0f0f0;
}
h1,h2,h3,h4,h5,h6, .Anton {
    font-family: Anton;
}
p,a,.abel {
    color: black;
    font-family: abel;
}

#logo {
    height: 105px;
    width: 105px;
}
.logo-container {
    background-color: white;
    margin-top: 4em;
    height: 60px;
    line-height: 75px;
}
.header-bg {
    height: 60px;
}
li {
    line-height: 60px;
}
.lh-60{
    position: relative;
    bottom: 21px;
}
a:link {
    color: black;
}
a:hover {
    color: #4e555b;
}
@media screen and (max-width: 992px) {
    .down {
        margin-top: 1em;
    }
}
@media screen and (max-width: 576px){
    .hide-on-mobile{
        display: none;
        position: absolute;
        top: -50px;
    }
    .logo-container {
        background-color: transparent;
    }
}