
.logo {
    z-index: 3;
    margin: auto;
}
.whitestripe {
    z-index: 1;
    height: 50px;
    background-color: white;
    position: absolute;
    top: 0px;
}
.circle {
    border-radius: 50%;
    border: 7px solid white;
    text-align: center;
    height: 140px;
    width: 140px;
    margin: 1em 0em;
    padding: 0px;
}
@media (min-width: 576px){
  .circle-holder {
      width: 80%;
      margin: auto;
  }
}
@media (max-width: 574px){
    .circle-holder {
        width: 79R%;
        margin: auto;
    }
}




.smcircle-red {
    border-radius: 50%;
    text-align: center;
    border: 1px solid #e6563b;;
    height: 17px;
    width: 17px;
    line-height: 1em;
}
.smcircle-yellow {
    border-radius: 50%;
    text-align: center;
    border: 1px solid rgb(230,157,45);
    height: 17px;
    width: 17px;
    line-height: 1em;
}
.smcircle-green {
    border-radius: 50%;
    text-align: center;
    border: 1px solid #7Cb06c;
    height: 17px;
    width: 17px;
    line-height: 1em;
}
.smcircle-blue {
    border-radius: 50%;
    text-align: center;
    border: 1px solid #00ABA9;
    height: 17px;
    width: 17px;
    line-height: 1em;
}
.red {background-color: #e6563b;}
.yellow {background-color: rgb(230,157,45);}
.green {background-color: #7Cb06c;}
.blue {background-color: #00ABA9;}

.iconw {
    color: #f0f0f0;
    line-height: 130px;
    font-size: 32px;
    font-family: Anton;
}

body, .bkg {
background-color: #f0f0f0;
}
h1,h2,h3,h4,h5,h6, .Anton {
    font-family: Anton;
}
p,a,.abel {
    color: black;
    font-family: abel;
}



#logo {
    height: 105px;
    width: 105px;


a:link {
    color: black;
}
a:hover {
    color: #4e555b;

}